CLOUDFLARE_ACCOUNT_ID=your_account_id
CLOUDFLARE_DATABASE_ID=your_database_id
CLOUDFLARE_API_TOKEN=your_api_token
JWT_SECRET=super_secret_jwt_key_123
VITE_GOOGLE_CLIENT_ID=your_google_client_id

CLOUDFLARE_R2_ENDPOINT=your_r2_endpoint_url
CLOUDFLARE_R2_ACCESS_KEY_ID=your_access_key
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_secret_key
CLOUDFLARE_R2_BUCKET_NAME=your_bucket_name
CLOUDFLARE_R2_PUBLIC_URL=your_public_r2_url
